<div class="container">
  <h1>Patients</h1>

  <% @Patients.each do |Patient| %>
  <ul>
    <li>
    <%= link_to patient.first_name, patient_path(patient.id) %>
    </li>
  </ul>
<% end %>


  <%= link_to "add a new doctor", new_doctor_path %>
